:root{
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1; 
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    flex-wrap: wrap;
    background-color: var(--body-bg-color);
    color: var(--text-color);
}

body nav{
    background-color:var(--bg-techs);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

body nav a{
    color: var(--text-color);
    text-decoration: none;
    padding: 0.8rem;
  }
body nav a:hover{
    background-color:var(--text-color);
    color: var(--bg-techs);
    text-decoration: none;
    padding: 0.8rem;
}
.container{
    background-color: var(--body-bg-color);
    color: var(--text-color);
    gap: 2rem;
    padding: 1rem;
    flex-wrap: wrap;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

a{
    color: var(--text-color);
    text-decoration: none;
}

/*  asside */
.container .aside{
    width: 25vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow:1 ;
    gap: 2rem;
}
.aside .perfil{
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    background-color: var(--bg-cards);
    gap: 0.1rem;
}
.aside .perfil img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px 0px
}
.aside .perfil p{
    margin: 0;
}

.aside nav{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--bg-cards);
    color: var(--text-color);
}
.aside nav ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 0.4rem;
}
.aside nav ul li{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.8rem;
}
.aside nav ul li a{
    text-decoration: none;
    color: var(--text-color);
}

.aside .stake{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 20px;
    background-color: var(--bg-cards);
    color: var(--text-color);
}
.aside .stake p{
    margin: 16px;
}

.aside .stake ul{
    padding: 0.8rem;
    display: flex;
    flex-wrap: wrap;
    /* width: 50%; */
    align-items: center;
    justify-content: left;
    flex-direction: row;
    gap: 0.8rem;
    list-style: none;
}
.aside .stake ul li{
    margin: 0.2rem;
    gap: 0.8rem;
}
.aside .stake ul li a{
    padding: 0.4rem;
    color: var(--text-color);
    background-color: var(--bg-techs);
    border-radius: 25px;
    text-decoration: none;
}

/*  main */
.main{
    flex-wrap: wrap;
    /* width: 80vw; */
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    flex-shrink:0;
    gap: 0.8rem;
}

.main section:nth-child(1){
    flex-wrap: wrap;
    background-color: var(--bg-cards);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between ;
    border-radius: 20px;
    padding: 0 1rem; 
}
.main .section2{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between ;
    gap: 0.8rem;
}
.main .section2 .post{
    flex-wrap: wrap;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /* width: 46%; */
    background-color: var(--bg-cards);;
    border-radius: 20px;
    padding: 0 1rem; 
}
.main .section2 .post .titulo{
    display: flex;
    gap: 1rem;
}
.main .section2 .post .curti{
    display: flex;
    gap: 1rem;
    justify-content: space-between ;
}
.main .section2 .post .icones{
    display: flex;
    gap: 1rem;

}

.main section:nth-child(3){
    flex-wrap: wrap;
    padding: 0.4rem;
    background-color: var(--bg-cards);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between ;
    border-radius: 20px;
    padding: 0 1rem; 
}
.main section:nth-child(4){
    flex-wrap: wrap;
    padding: 0.4rem;
    background-color: var(--bg-cards);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    padding: 1rem 1rem; 
    gap: 1rem;
}
.main section:nth-child(4) img{
    width: 150px;
    height: 150px;
    border-radius: 15%;
}
.main section:nth-child(4) div{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    border-radius: 20px;

}
.main section:nth-child(4) div .regentag{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
}